/* RESET */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	min-height: 100vh;
}

img,
svg,
picture,
video {
	max-width: 100%;
}

/* Utils */

.container {
	width: 1300px;
	margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

/* style */

header {
	display: flex;
	align-items: center;
	min-height: 80px;
	padding: 10px 0;
    color: white;

    position: fixed;
    width: 100%;
    z-index: 1;

	background-color: #ff6900;
}

.nav {
	display: flex;
	line-height: 30px;
    justify-content: space-between;
    align-items: center;
}

.nav>* {
	flex-basis: 20%;
	padding: 5px 10px;
}

.logo{
    max-width: 16%;
}

.links {
	text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social {
	text-align: right;
}

/* MAIN */

main{
    padding-top: 100px;
    padding-bottom: 50px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.col{
    width: 30%;
    position: relative;
}

.discount{
    background-color: red;
    color: white;
    padding: 3px;
    position: absolute;
    left: 0;
    bottom: 90px;
}

.discount.green{
    background-color: green;
    left: 45px;
}

.text-red{
    color: red;
}

.none{
    display: none;
}

.heart{
    display: none;
    color: red;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
}

.col:hover .block{
    display: none;
}

.col:hover .none{
    display: block;
}

.col:hover .heart{
    display: block;
}

/* FOOTER */

footer{
    background-color: #1a1a1a;
    color: white;
}